
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
  font-size:18px;
}

.navbar-inverse .navbar-nav>.active, .navbar-inverse .navbar-nav>.active:focus, .navbar-inverse .navbar-nav>.active:hover{
    background-color:grey;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color:grey;
}
.navbar-inverse .navbar-nav>a:hover {
    text-decoration: underline;
}

.navbar-default {
    top:0;
    border-style: none;
    width:100%;    

}
.navbar-inverse{
    border-style:none;
}
.row{
    margin-right:0;
    margin-left:0;
}

#headertext{
    font-size: 6em;
    color: #0D3D56;

}
#introtext{

    font-size: 32px;
}
.wrapper{
    /*background-color: #29506D;
    color: #718EA4;*/
    padding-top:100px;

}
.wrapper1{
/*    background-color: #496D89;
    color: #123652;*/
}
.wrapper4{
/*    background-color: #000000;
    color: #ffffff;*/
    padding-top:100px;
    padding-bottom:50px;

}
#Projects{
    font-size:18px;
}
#About{
    /*//font-weight:bold;*/
    font-size:18px;
}
#Home{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    position:relative;
    width:100%;
    margin-top:0px;
    padding:0;
    height: 100vh;
    margin-bottom:-50px;
    
}
#overlay{
    position:absolute;
    top:0px;
    left:0px;
    z-index: 100;
    width:100%;
    margin-top:40vh;
    color:white;
    text-align: center;
    max-height:50em;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}


.right{
    margin-bottom:20px;
    width:150px;
    float:right;
}
.button-row{
    margin-top:20px;
}
.left{
        width:150px;
    float:left;

    margin-bottom:20px;
}
#homepic{
    width:100%;
    background-size:cover;
    z-index: -200;
    height: 100vh;
    

}
#Contact ul{
    list-style: none;
    margin:0;
    padding:0;

}
#Contact li{
    display:inline;
}*/

body{ 
    padding-top: 0px;
 }



#Contact{
  text-align: center;
  font-size:18px;
  margin-bottom:450px;
}

#pic1{
    margin-left:5%;
    display:inline-block;
    max-width:45%;
}
#pic2{
    max-width:45%;
    display:inline-block;
}
#pic3{
    max-width:45%;
    margin-left:25%;
    margin-top:10px;
    display:block;
}
#pictures{
    padding-top:20px;
	max-width: 800px;
    margin-left:auto;
    margin-right: auto;
    padding-bottom:50px;
}

#pic4{
    max-width:45%;
    margin-left:25%;
    margin-top:10px;
    display:block;
}
#pic5{
    max-width: 250px;
    border-radius: 10px;
    margin-left:50px;
   
    display:block;
    float:right;
    margin-bottom:10%;
}


#video{
	max-width: 800px;
}

h2{
    font-weight: 700;
    font-size: 40px;
}

@media screen and (max-width:700px){
    #headertext{
    font-size: 5em;

}

#introtext{

    font-size: 24px;
}
}
@media screen and (max-width:768px){
    .right{
        float:none;
    }
    .left{
        float:none;
    }
}

@media screen and (max-width:500px){
    #pic5{
   float:none;
   margin-left:auto;
    margin-right:auto;
}
}
@media (max-width: 767.5px) {  
.navbar-nav {
    margin: 0;
    padding: 7.5px 15px;
}
}